body {
  text-align: center;
  background-color: rgb(29, 29, 29);
}
h1 {
  font-size: 5vmax;
  color: rgb(255, 255, 255);
}
#wrapper {
  display: flex;
  justify-content: center;
}
#game-board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 35vw;
  max-width: 400px;
  height: 35vw;
  max-height: 400px;
  margin-bottom: 15px;
  border: 3px solid black;
}
.panel {
  display: flex;
  flex-direction: column;
  width: 15vw;
  max-width: 15vw;
  height: 35vw;
  max-height: 400px;
}
.light {
  background-color: grey;
  border: 1px solid rgb(204, 181, 181);
  width: calc(20% - 2px);
  height: calc(20% - 2px);
}
.stats {
  color: cornsilk;
  font-size: 1.5vmax;
  width: 100%;
  height: 50%;
}
.active {
  background-color: rgb(214, 54, 193);
}
h2 {
  display: none;
}
.alert-win {
  display: block;
  position: absolute;
  color: rgb(231, 231, 231);
  background-color: green;
  border: 2px solid rgb(103, 228, 103);
}
.alert-loss {
  display: block;
  position: absolute;
  color: rgb(231, 231, 231);
  background-color: rgb(192, 39, 52);
  border: 2px solid rgb(233, 120, 120);
}
.alert-hint {
  display: block;
  position: absolute;
  color: rgb(231, 231, 231);
  background-color: rgb(78, 63, 212);
  border: 2px solid rgb(130, 63, 192);
}
.hint {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {background-color: grey;}
  25% {background-color: rgb(78, 63, 212);}
  50% {background-color: grey;}
  75% {background-color: rgb(78, 63, 212);}
  100% {background-color: grey;}
}
@-moz-keyframes fadeIn {
  0% {background-color: grey;}
  25% {background-color: rgb(78, 63, 212);}
  50% {background-color: grey;}
  75% {background-color: rgb(78, 63, 212);}
  100% {background-color: grey;}
}
@-webkit-keyframes fadeIn {
  0% {background-color: grey;}
  25% {background-color: rgb(78, 63, 212);}
  50% {background-color: grey;}
  75% {background-color: rgb(78, 63, 212);}
  100% {background-color: grey;}
}
@-o-keyframes fadeIn {
  0% {background-color: grey;}
  25% {background-color: rgb(78, 63, 212);}
  50% {background-color: grey;}
  75% {background-color: rgb(78, 63, 212);}
  100% {background-color: grey;}
}
@-ms-keyframes fadeIn {
  0% {background-color: grey;}
  25% {background-color: rgb(78, 63, 212);}
  50% {background-color: grey;}
  75% {background-color: rgb(78, 63, 212);}
  100% {background-color: grey;}
}

@media screen and (max-width: 550px){
  html{
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
  }
  body {
    height: 100vh;
    max-height: 100vh;
  }
  #wrapper {
    flex-direction: column;
    height: 80vh;
    max-height: 100%;

  }
  #game-board {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .panel {
    flex-direction: row;
    align-items: center;
    width: 100vw;
    max-width: 100%;    
  }
  .stats {
    text-align: center;
    font-size: 4vw;
  }
}